# ------------------- MONGODB -------------------
MONGO_URI=mongodb://mongodb:27017
MONGO_DB=festival_avignon

# ------------------- NEO4J ---------------------
NEO4J_URI=bolt://neo4j:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=test1234

# --------------- API EXTERNES ------------------
# (OSRM pour le routage, ou Mapbox)
OSRM_API_URL=http://router.project-osrm.org/route/v1/driving/

# --------------- SPARK (optionnel) -------------
SPARK_MASTER_HOST=spark-master
SPARK_MODE=master # ou worker
